<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="OutputService" class="ru.otus.homework.service.OutputServiceImpl" />

    <bean name="QuestionCsvMapper" class="ru.otus.homework.mapper.QuestionCsvMapper">
        <constructor-arg name="answerMapper" ref="AnswerCsvMapper" />
    </bean>

    <bean name="AnswerCsvMapper" class="ru.otus.homework.mapper.AnswerCsvMapper" />

    <bean name="QuestionFileReader" class="ru.otus.homework.service.QuestionFileReaderImpl" />

    <bean name="TestingSystemService" class="ru.otus.homework.service.TestingSystemServiceImpl">
        <constructor-arg name="test" ref="Test" />
        <constructor-arg name="outputService" ref="OutputService" />
    </bean>

    <bean name="Test" class="ru.otus.homework.dao.Test">
        <constructor-arg name="questionFileReader" ref="QuestionFileReader" />
        <constructor-arg name="questionCsvMapper" ref="QuestionCsvMapper" />
    </bean>
</beans>